{% extends 'blog/base.html' %}

<!-- {% load static %} -->
<!-- static only loads when the server is ran. If static changes don&t apply, run the server again -->

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    <h2><a href="{% url 'physics'%}">Pyhsics Engine</a></h2>
{% endblock %}